# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Datasets 
Ayo_FAQ_gender_labels.csv
gender_neutral_questions_llama_31_70b.csv
gender_specific_questions_llama_33_70b.csv
gender_specific_questions_llama_31_70b.csv

#Scripts
testing_gs_llama_33_70b.py
testing_gs_llama_31_70b.py
testing_gs_gemini.py
testing_gn_llama_31_70b.py